<div class="container">
<div class="jumbotron">
	<h3>About Me</h3>

	<br>

		<p>
		 I'm Adam Andrewjeski: Web Developer, Day Trader, <br> and Self-Development Junkie.

		 <br>

		 <h3>Bio</h3>

		 I was born in Las Vegas, Nevada and lived there until I moved to the Bay Area to attend UC Berkeley. <br> Currently living in Boston with my constantly grinning dog, Socks.

		 <br>

		 <h3>Skills</h3>

		 Ruby, Ruby on Rails, Sinatra, SQL, HTML, CSS, Bootstrap SASS/LESS, Javascript, Git, R (statistics), Agile Methods, TDD: Capybara, cryptocurrency fundamentals and trading

		 <br>

		 <h3>Links</h3>
		 <a href="http://github.com/aandrewjeski">Github</a><br>
		 <a href="http://linkedin.com/in/adamandrewjeski">Linkedin</a><br>

		 <h3>Major Projects</h3>
		 <a href="http://btc-arcade.herokuapp.com">Bitcoin Arcade: Practice and learn about trading bitcoins without financial consequences.</a><br>
		 <a href="http://meet-the-memes.herokuapp.com">Meet the Memes: Browse and comment on the most popular new memes</a><br>

		 <h3>Trivia</h3>
		 I hunt for mushrooms in the PNW and Ice Age/Pluvial Period fossils on the outskirts of Las Vegas.

		 <br>

		 In high school I had a greenhouse for carnivorous plants.

		 <br>

		 I produce electro house and progressive house music
		</p>
</div>
</div>
