<div class="container">
<div class="jumbotron">
	<h3>About Me</h3>
	<a href="http://imgur.com/58HKSCG"><img src="http://i.imgur.com/58HKSCG.jpg?1" title="Hosted by imgur.com"/></a>

	<br> 

		<p>
		 I'm Adam Andrewjeski: Newbie Developer, Day Trader, Student, <br> and Self-Development Junkie.

		 <br>

		 <h3>Bio</h3>

		 I was born in Las Vegas, Nevada and lived there until I moved to the Bay Area to attend UC Berkeley. <br> Currently living in Las Vegas again with my constantly grinning dog, Socks.

		 <b3>

		 <h3>Trivia</h3>
		 I hunt for mushrooms in the PNW and Ice Age/Pluvial Period fossils on the outskirts of Las Vegas. 

		 <br>

		 In high school I had a greenhouse for carnivorous plants.

		 <br>

		 I produce electro house and progressive house music

		 <h3>Links</h3>
		 <a href="http://github.com/aandrewjeski">Github</a><br>
		 <a href="http://www.stevepavlina.com/">My Favorite Personal Development Guru, Steve Pavlina</a><br>
		 <a href="http://mushroomobserver.org/?_js=on&_new=true">Community Mushroom Identification Site</a><br>

		</p>
</div>
</div>