<div class="jumbotron">
	<center>
		<h1>
			Welcome to Adam's About Me
		</h1>

		<center><a href="http://imgur.com/RQEkf6J"><img src="http://i.imgur.com/RQEkf6J.png?1" title="Hosted by imgur.com"/></a></center>
		<br>
		<p>
			Hi I'm Adam! I just graduated from Launch Academy and am in search of a developer position. Launch Academy is a 3 month program designed to make full-stack web developers with pair-programming, agile methods, test driven development, and SOLID design principles Ruby on Rails. In the mean time I am furthering my skills with development by mastering new languages and learning bitcoin scripting.
		</p>

		<h3>
			Click <%= link_to "about", about_path %>
			to learn more about me!
		</h3>
	</center>

</div>
