<div class="jumbotron">
	<center><h1>Welcome to Adam's About Me</h1>
	<div class="container">
		<center><a href="http://imgur.com/RQEkf6J"><img src="http://i.imgur.com/RQEkf6J.png?1" title="Hosted by imgur.com"/></a></center>
	</div>
	<p>You are viewing my historic first organic web app! I am currently learning Ruby on Rails, applying to coding academies, and making my first apps (including this one).</p></center>

</div>